<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{> bs4/header}}
    <link rel="stylesheet" href="public/stylesheets/home.css">
    <title>Example App</title>
</head>
<body>

{{{body}}}

{{> bs4/script}}

</body>
</html>