<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{> bs4/header}}
    <link rel="stylesheet" href="/public/stylesheets/teacher.css">
    <title>Example App</title>
</head>
<body>
    {{>teacher/nav}}
    {{>teacher/sidebar}}
    {{{body}}}

{{> bs4/script}}
    <script src="/public/js/teacher.js"></script>

</body>
</html>